*{
    box-sizing: border-box;
    font-family:Arial, sans-serif; 
    font-weight: bold;
}
body{
    background-color: white;
}
.web{
    width:80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
}
.page{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
    margin: 10px;
}
.boxes{
    display:flex ;
    justify-content: space-around;
    margin: 10px;
}
.box1,
.box2,
.box3,
.box4{
     display:flex ;
    justify-content: space-around;
    margin: 10px;
     background-color: gray;
    width: 20%;
    height: 70px;
}
.box5,
.box6,
.box7{
    background-color: gray;
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.box5,
.box6,
.box7{
    background-color: gray;
    width: 30%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      margin:20px;
}