*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{ 
    background-color:white;
    font-family: Arial, sans-serif;
}
.page{
    width:80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
}
.logo,
.nav,
.header,
.footer,
.sidebar,
.body{
    background-color:gray;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold ;
}
.content{
    display: flex;
    gap: 10px;
}
.sidebar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.footer{
margin-top: 10px;
}
.logo{
    display: flex;
    justify-content: flex-start;
}

