*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: white;
}
.page{
    width: 80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
}
.logo{
    background: gray;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.content{
    display: flex;
    margin-top: 10px;
}
.side{
    width: 30%;
    background: white;
    padding: 20px;
    font-weight: bold;
}
.right{
    width: 70%;
    margin-left: 10px;
}
.header{
    background: gray;
    margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.body{
    background: gray;
     margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.footer{
    background: gray;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

