body{
margin:0;
font-family:sans-serif;
background:#fafafa;
}

header{
background:#d35400;
color:white;
padding:20px;
text-align:center;
}

.banner{
background:#f39c12;
padding:70px;
text-align:center;
color:white;
}

button{
padding:12px 20px;
background:white;
border:none;
color:#d35400;
}

.menu{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:30px;
}

.item{
background:white;
padding:20px;
box-shadow:0 0 10px #ccc;
text-align:center;
}

@media(max-width:768px){
.menu{
grid-template-columns:1fr;
}
}