body{
font-family:Arial;
margin:0;
}

header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

.container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

article{
padding:20px;
box-shadow:0 0 10px gray;
}

@media(max-width:768px){
.container{
grid-template-columns:1fr;
}
}