* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
 
body {
  background: #f2f2f2;
  padding: 20px;
}
 
/* MOBILE */
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
 
.header {
  background: #a9cdf1;
  padding: 40px;
  text-align: center;
}
 
.content {
  background: #e6e6e6;
  padding: 60px;
  text-align: center;
}
 
.signup {
  background: #9fd9e7;
  padding: 40px;
  text-align: center;
}
 
.feature {
  padding: 40px;
  text-align: center;
}
 
.feature1 {
  background: #ffd699; 
}
.feature2 {
  background: #ff9999; 
}
.feature3 {
  background: #c2c2f0;
}
 
/* TABLET */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
 
  .header,
  .content {
    grid-column: 1 / 3;
  }
}
 
/* DESKTOP */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
 
  .header {
    grid-column: 1 / 4;
  }

    .feature1 {
    grid-column: 1 / 2;
  }
 
  .feature2 {
    grid-column: 2 / 3;
  }
 
  .feature3 {
    grid-column: 3 / 4;
  }
  
  .signup {
    grid-column: 1 / 4;
  }
 
  .content {
    grid-column: 1 / 4;
  }

}
