*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{ 
    background-color:white;
    font-family: Arial, sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
 }
.main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
 }
.page{
    width:80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
}
.logo,
.nav,
.header,
.footer,
.sidebar,
.body{
    background-color:gray;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold ;
}
.content{
    display: flex;
    gap: 10px;
}
.sidebar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.footer{
margin-top: 10px;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.web{
    width:80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
    font-weight: bold;
}
.page2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
    margin: 10px;
}
.header2{
    display: flex;
    align-items: center ;
    justify-content: center;
    padding: 20px;
    background-color: gray;
    margin: 10px;
    height: 100px;
}
.intro2{
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 70px;
    background-color: gray;
    margin: 10px;
}
.body2{
    display:flex ;
    justify-content: space-around;
    margin: 10px;
}
.box1,
.box2,
.box3{
    background-color: gray;
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2{
    background-color: gray;
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3{
    width: 80%;
    margin: 20px;
    background: whitesmoke;
    padding: 10px;
}
.logo3{
    background: gray;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.content3{
    display: flex;
    margin-top: 10px;
}
.side3{
    width: 30%;
    background: white;
    padding: 20px;
    font-weight: bold;
}
.right3{
    width: 70%;
    margin-left: 10px;
}
.header3{
    background: gray;
    margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.body3{
    background: gray;
     margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.footer3{
    background: gray;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.page4{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: gray;
    margin: 10px;
}
.boxes-l{
    display:flex ;
    justify-content: space-around;
    margin: 10px;
}
.box1,
.box2,
.box3,
.box4{
     display:flex ;
    justify-content: space-around;
    margin: 10px;
     background-color: gray;
    width: 20%;
    height: 70px;
}
.box5,
.box6,
.box7{
    background-color: gray;
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.box5,
.box6,
.box7{
    background-color: gray;
    width: 30%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer4{
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      margin:20px;
}
