*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 320px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
.container  :hover{
    transform: translateY(-5px);
}
.container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}
.content p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #0056b3;
}